@font-face {
    font-family: Dana;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Dana/Dana.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Dana/Dana.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.fontcdn.ir/Font/Persian/Dana/Dana.woff2') format('woff2'),
    url('https://cdn.fontcdn.ir/Font/Persian/Dana/Dana.woff') format('woff'),
    url('https://cdn.fontcdn.ir/Font/Persian/Dana/Dana.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Dana;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Dana/Dana-Bold.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Dana/Dana-Bold.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.fontcdn.ir/Font/Persian/Dana/Dana-Bold.woff2') format('woff2'),
    url('https://cdn.fontcdn.ir/Font/Persian/Dana/Dana-Bold.woff') format('woff'),
    url('https://cdn.fontcdn.ir/Font/Persian/Dana/Dana-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Dana;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Dana/Dana-Light.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Dana/Dana-Light.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.fontcdn.ir/Font/Persian/Dana/Dana-Light.woff2') format('woff2'),
    url('https://cdn.fontcdn.ir/Font/Persian/Dana/Dana-Light.woff') format('woff'),
    url('https://cdn.fontcdn.ir/Font/Persian/Dana/Dana-Light.ttf') format('truetype');
    font-weight: 300;
}

